# ---Core Framework ---
langchain>=0.1.0
langchain-community	
langchain-core 
langchain-openai
langgraph
pydantic # Data validation
python-dotenv # API keys manager 

# --- Vector Database ---
chromadb>=0.4.0

#--- AI Models (Embeddings & LLM) ----
sentence-transformers #run model all-MiniLM-L6-v2 local
openai # call GPT-4i-mini

#--- Data Processing ---
beautifulsoup4 #Parse XML/HTML
lxml #Parser BeatiufulSoup

#--- Utilities ---
python-dotenv #(.env) Envaironment Manager
tqdm # Loading bar when running loops


